node_modules/
nbproject/.DS_Store
lib/.DS_Store
imports/.DS_Store
imports/collections/.DS_Store
nbproject/private/private.properties
nbproject/private/private.xml
.DS_Store
/nbproject/private/
client/templates/buddy/.DS_Store
client/templates/buddy/sub/.DS_Store

public/.DS_Store
.DS_Store
.DS_Store
.DS_Store
public/.DS_Store
server/paypal_config.js
