<template name="becomeabuddy">
<div>
    <div class="buddy-img" style="background:url(assets/images/buddy-bkgd.jpg);">
        <div class="container">
            <div class="buddy-img-title">Become A Buddy</div>
            <div class="buddy-img-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
            <div class="buddy-img-submit"><a href="update-profile.html"><input name="started" type="button" value="Get Started"></a></div>
        </div>
    </div>
</div>
</template>