<template name="becomeabuddy">
    <div class="buddy-img" style="background:url(/assets/images/buddy-bkgd.jpg);">
        <div class="container">
            <div>
                <h1 class="buddy-img-title">Become A Buddy</h1>
            </div>
            <div class="buddy-img-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
            <div class="buddy-img-submit">
                <a href="{{pathFor 'becomeabuddy.register'}}" class="btn btn-primary btn-lg">
                    Get Started
                </a>
            </div>
        </div>
    </div>
    <div class="container become-buddy">
        <div class="col-sm-12">
            <div class="main-large-title"><span>How</span> to become a buddy</div>
        </div>
        
        <div class="col-sm-12">
            <div class="row stepbystep buddy-show">
                <div class="col-sm-6 step-push">
                    <div class="col-sm-2 title-number">
                        01
                    </div>
                    <div class="col-sm-10 title-desp">
                        <div class="title-steps">Create Tour Listing</div>
                        <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div><img src="assets/images/step1.jpg"></div>
                </div>
            </div>
            <div class="row stepbystep buddy-hide">
                
                <div class="col-sm-6">
                    <div><img src="assets/images/step1.jpg"></div>
                </div>
                <div class="col-sm-6">
                    <div class="col-sm-2 title-number hidden-xs">
                        01
                    </div>
                    <div class="col-sm-10 col-xs-12 title-desp">
                        <div class="title-steps">01. Create Tour Listing</div>
                        <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                    </div>
                </div>
            </div>
            
            
            
            <div class="row stepbystep">
                <div class="col-sm-6 ">
                    <div><img src="assets/images/step2.jpg"></div>
                </div>
                <div class="col-sm-6  step-push">
                    <div class="col-sm-2 title-number buddy-show">
                        02
                    </div>
                    <div class="col-sm-10 title-desp">
                        <div class="title-steps buddy-show">Wait for Buddy</div>
                        <div class="title-steps buddy-hide">02. Wait for Buddy</div>
                        <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                    </div>
                </div>
            </div>
            
            
            
            <div class="row stepbystep buddy-show">
                <div class="col-sm-6  step-push">
                    <div class="col-sm-2 title-number">
                        03
                    </div>
                    <div class="col-sm-10 title-desp">
                        <div class="title-steps">Get Paid</div>
                        <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div><img src="assets/images/step3.jpg"></div>
                </div>
            </div>
            <div class="row stepbystep buddy-hide">
                
                <div class="col-sm-6">
                    <div><img src="assets/images/step3.jpg"></div>
                </div>
                <div class="col-sm-6">
                    <div class="col-sm-2 title-number hidden-xs">
                        03
                    </div>
                    <div class="col-sm-10 title-desp">
                        <div class="title-steps">03. Get Paid</div>
                        <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</template>

