
#accountPopUpWindow .modal-header {
    border: none;
}

.account-form {
    padding: 20px 40px;
}

.account-form input{
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 8px 0 7px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.account-form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #E18305;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    margin-bottom: 15px;
}

.account-form button:hover, .account-form button:active, .account-form button:focus {
    background: #D07803;
}

.wrapper-w-s-b {
    display: flex;
    align-items: stretch;
}

.wrapper-w-s-b > #content {
    padding: 20px 0;
    width:100%;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    color: #000000;
    transition: all 0.3s;
}

#sidebar ul.components {
    padding: 20px 0;
    /* border-bottom: 1px solid #f18305; */
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    background-color: transparent;
    text-align: left;
    font-weight: normal;
    border-left: solid 3px #ffffff;
    color: #000000;
}
#sidebar ul li a:hover {
    color: rgb(0, 0, 0);
    border-left: solid 3px #e44d26
}

#sidebar ul li.active > a, #sidebar ul li.active a[aria-expanded="true"] {
    color: rgb(0, 0, 0);
    border-left: solid 3px #e44d26
}