<template name="footer">
    <footer>
        <div id="footer-wrapper">
            <div class="container">
                <div class="row footer">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-4 footer-logo">
                        <div><img src="/assets/images/yaplin-orange.png" width="79"></div>
                        <div class="footer-desp">Founded in August of 2017 and based in Singapore. Lets tour around the city and connects with people for a unique experiences.</div>
                    </div>
                    <div class="col-sm-2 navigation">
                        <div class="footer-title">Navigation</div>
                        <div><a href="{{pathFor 'home'}}">Home</a></div>
                        <div><a href="{{pathFor 'wahtwedo'}}">What We Do</a></div>
                        <div><a href="{{pathFor 'becomeabuddy'}}">Become A Buddy</a></div>
                        <div><a href="{{pathFor 'findbuddy'}}">Find Buddy</a></div>
                    </div>
                    <div class="col-sm-2 about-us">
                        <div class="footer-title">About</div>
                        <div><a href="{{pathFor 'aboutus'}}">About us</a></div>
                        <div><a href="{{pathFor 'faq'}}">FAQ</a></div>
                        <div><a href="{{pathFor 'terms'}}">Terms & Conditions</a></div>
                    </div>
                    <div class="col-sm-2 payment-method">
                        <div class="footer-title">Payment Method</div>
                        <div><img src="/assets/images/paypay-logo.png" width="91"></div>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
                <div class="row">
                    <div class="col-sm-12 footer-copy">
                        <div>© 2017 Yaplin. All Rights Reserved.</div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</template>