<template name="herocontent">
    <div class="col-sm-12 home-title">
        Find A Local
    </div>
    <div class="col-sm-12 home-subtitle">
        Let’s tour around the city and connects with people for a unique travel experiences
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            {{> toursearchfilter}}
        </div>
    </div>
</template>

<template name="home">
    <div class="container">
        <div class="row">
            <div class="row">        	
                <div class="home-stitle col-xs-6">Experiences</div>
                <div class="col-xs-6 see-more-btn"><a href="tour-experience.html">See more  ></a></div>
            </div>
            <div class="row">
                <section class="regular slider">
                    {{#each arrayify_tour tours}}
                        {{> tour}}
                    {{/each}}
                  </section>
            </div>
            
            <ul>
                
                <li>Featured tours</li>
                <li>Your buddies</li>
            </ul>
        </div>
    </div>
    
</template>