<template name="herocontent">
    <div class="col-sm-12 home-title">
        Find A Local
    </div>
    <div class="col-sm-12 home-subtitle">
        Let’s tour around the city and connects with people for a unique travel experiences
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            {{> toursearchfilter}}
        </div>
    </div>
</template>

<template name="home">
    <div class="container">
        <div class="row">
            <h1>Home/Landing Page</h1>
            <ul>
                <li>Experiences Slider</li>
                <li>Featured tours</li>
                <li>Your buddies</li>
            </ul>
        </div>
    </div>
    
</template>