<template name="buddyregister">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-5">
                <h1>Register as Buddy</h1>
                <h3>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h3>
                <p>
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                    when an unknown printer took a galley of type and scrambled it to make a type 
                    specimen book. It has survived not only five centuries, but also the leap into 
                    electronic typesetting, remaining essentially unchanged.
                </p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-7">
                {{> buddyregisterform}}
            </div>
        </div>
    </div>
</template>

<template name="buddyregisterform">
    <h1>Profile</h1>
    <div>
        <form id="buddyregisterform">
            {{> profile}}
            <div class="form-group">
                <div class="checkbox" style="margin-left:20px;">
                    <input name="chktnc" type="checkbox">
                    <label for="chktnc" style="padding-left:10px;">
                        By clicking Submit, you agree to the Terms and Conditions set out by this site, including our Cookie Use. 
                    </label>
                </div>
            </div>
            
            <div class="form-group">
                <button class="btn btn-primary pull-right" type="submit" id="btn-submit-profile">Submit</button>
            </div>
        </form>
    </div>
</template>