<template name="profile">
    <div class="form-group">
        <center>
            {{#if currentUser.profile.avatar}}
            <div class="profile-ing-container">
                <img src="{{currentUser.profile.avatar}}" alt="avatar" class="avatar" id="avatar">
            </div>
            {{/if}}
        </center>
    </div>

    <div class="form-group">
        <span class="btn btn-default btn-file">
            <input type="file" accept=".gif,.jpg,.png" id="profileimage" name="profileimage">
        </span>
    </div>
    <div class="form-group">
        <input type="text" id="firstname" name="firstname" class="form-control input-md" placeholder="First Name" value="{{currentUser.profile.firstName}}">
    </div>
    <div class="form-group">
        <input type="text" name="lastname" class="form-control input-md" value="{{currentUser.profile.lastName}}" placeholder="Last Name">
    </div>
    <div class="form-group">
        <select name="gender" class="form-control input-md custom-select mb-2 mr-sm-2 mb-sm-0">
            {{#each gender}}
            <option value="{{value}}" {{selectedOptions currentUser.profile.gender value}}>{{text}}</option>
            {{/each}}
        </select>
    </div>
    <div class="form-group">
        <div class="input-group date" id="dob">
            <input type="text" name="dateofbirth" class="form-control form-control-lg" placeholder="Date of Birth" value="{{formatDob currentUser.profile.dob}}"/>
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
    <div class="form-group">
        <input type="text" name="email" class="form-control input-md" value="{{currentUser.emails.[0].address}}" disabled>
    </div>
    <div class="form-group">
        <input type="text" name="contact" class="form-control input-md" placeholder="Contact Number" value="{{currentUser.profile.contact}}">
    </div>
    <div class="form-group">
        <input type="text" name="street" class="form-control input-md" placeholder="Street" value="{{currentUser.profile.street}}">
    </div>
    <div class="form-group">
        <input type="text" name="city" class="form-control input-md" placeholder="City" value="{{currentUser.profile.city}}">
    </div>
    <div class="form-group">
        <select name="country" class="form-control input-md custom-select mb-2 mr-sm-2 mb-sm-0">
            {{#each country}}
            <option value="{{value}}" {{selectedOptions currentUser.profile.country value}}>{{text}}</option>
            {{/each}}
        </select>
    </div>
    <div class="form-group">
        <textarea name="about" id="about" rows="5" placeholder="Describe yourself here..." class="form-control" value="{{currentUser.profile.about}}"></textarea>
    </div>
</template>
