<template name="register">
    <h2 class="text-center">
        Create a new accoun <br>
        <small>It's Free</small>
    </h2>
    <div class="account-form">
        <form id="app-signup">
            <input type="text" name="email" placeholder="Email Address">
            <input type="text" name="firstname" placeholder="First Name">
            <input type="text" name="lastname" placeholder="Last Name">
            <input type="password" name="password" placeholder="Passowrd"> 
            <button type="submit">Sign up</button>
            <hr>
            <p class="text-center">
                Already have an Yaplin account? <a href="" id="aLogin">Log in</a>
            </p>
        </form>
    </div>
</template>