<template name="addtour">
    <div class="container">
        <h1>Create Tour</h1>
        <form>
            <div class="row">
                <div class="form-group col-md-6">
                    <input type="text" name="title" class="form-control form-control-lg" placeholder="Title">
                </div>
                <div class="form-group col-md-6">
                    <input type="text" name="location" class="form-control form-control-lg" placeholder="Location">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <select class="form-control form-control-lg" id="noOfGuests">
                        <option disabled="disabled" selected="selected">Guests</option> 
                        {{#each participants}}
                            <option value="{{this}}">{{this}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <input type="text" name="price" class="form-control form-control-lg" placeholder="Price">
                </div>
            </div>
            <h1>Schedules</h1>
            {{>adddates }}
            <h1>Summary</h1>
            <!-- <div class="row">
                <div class="form-group col-md-6">
                    <label for="uploadPhotos">Add photos about the experience (up to 5 photos)</label>
                    <input type="file" id="uploadPhotos">
                </div>
            </div> -->
            <hr>
            <div class="row">
                <div class="form-group col-md-12">
                    <textarea class="form-control" name="summary" rows="3" placeholder="Summary"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <textarea class="form-control" name="experience" rows="3" placeholder="About the experience/service"></textarea>
                </div>
                <div class="form-group col-md-6">
                    <textarea class="form-control" name="exp_expectation" rows="3" placeholder="What to expect"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <textarea class="form-control" name="provision"  rows="3" placeholder="What is provided"></textarea>
                </div>
                <div class="form-group col-md-6">
                    <textarea class="form-control" name="prov_expectation" rows="3" placeholder="What to expect"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <button type="submit" class="btn btn-primary pull-right">Save</button>
                </div>
            </div>
        </form>
    </div>
</template>

<template name="adddates">
    <hr>
    <div class="row">
        <div class="col-md-12">
            <table id="schedules" class="table table-striped">
                <thead>
                    <tr>
                        <th>From</th>
                        <th>To</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="form-group">
                                <div class='input-group date' id='start_01'>
                                    <input type='text' class="form-control form-control-lg" placeholder="From"/>
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <div class='input-group date' id='end_01'>
                                    <input type='text' class="form-control form-control-lg" placeholder="To"/>
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </td>
                        <td><button type="button" id="btnAddSched" class="btn btn-success" data-toggle="tooltip" title="Add schedule">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button> <button id="btnRemoveSched" type="button" class="btn btn-danger" data-toggle="tooltip" title="Remove schedule"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>