<template name="findbuddy">
    <div class="container">
        <div aria-label="breadcrumb" role="navigation">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Find Buddy</li>
          </ol>
        </div>
        
        <div>
            <div class="main-large-title" style="text-align:center;"><span>Find</span> Buddy</div>
        </div>
        
        <div>
            <div class="find-buddy col-lg-12">
                <div class="row">
                    <div class="find-bud-img col-lg-3">
                      <a href="#"><img src="/assets/images/home-exp.jpg"></a>
                      <div class="top-title">Boat trip, Clark Quay</div>
                      <div class="price-title">SGD $50 per person</div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</template>