<template name="findbuddy">
    <div class="container">
        <div aria-label="breadcrumb" role="navigation">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Find Buddy</li>
          </ol>
        </div>
        
        <div>
            <div class="main-large-title" style="text-align:center;"><span>Find</span> Buddy</div>
        </div>
        
        <div class="col-md-offset-4">
            <form class="tourFilterFrm">
                <div class="col-md-5 col-sm-5">
                    <input class="form-control" type="text" placeholder="Title" name="title" id="title">
                </div>
                <div class="home-search col-md-1 col-sm-12">
                 <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i></button>
                </div>
              </form>
        </div>
        
        <div>
            <div class="find-buddy col-lg-12">
                <div class="row">
                    {{#each arrayify_tour tours}}
                        <div class="find-bud-img col-lg-3">
                            {{> tour}}
                        </div>
                    {{/each}}
                    
                    {{displayEmpty tours}}
                </div>
            </div>
        </div>
        
    </div>
</template>