<template name="memberprofile">
    <div class="row"></div>
    <div class="container">
        <div class="col-xs-3 ">
            <div class="row profile-img no-padding">
                <div class="col-md-10">
                    {{#if buddydetails.profile.avatar}}
                    <img src="{{buddydetails.profile.avatar}}" class="img-responsive img-circle">
                    {{else if buddydetails.profile.gender ='female'}}
                    <img src="/assets/images/female.jpg" class="img-responsive img-circle">
                    {{else}}
                    <img src="/assets/images/male.png" class="img-responsive img-circle">
                    {{/if}}
                </div>
            </div>
            <div class="row align-center profile-smaller">

                <div class="row profile-name margin-top15">
                    {{buddydetails.profile.firstName}} {{buddydetails.profile.lastName}}<br>
                    <span class="grey-text">Member since {{formatMemberJoinDate buddydetails.createdAt}}</span>
                </div>
                <div class="row"><div class="col-md-8 col-sm -8 hr"></div></div>
                <div class="row">{{buddydetails.profile.country}}</div>
                <div class="row">+65{{maskPhoneNo buddydetails.profile.contact}}</div>
                <div class="row">{{maskEmail buddyemail}}</div>

                <div class="row"><div class="col-md-8 col-sm-8 hr"></div></div>

                <div class="row">
                    <div class="col-md-8 profile-desc">{{buddydetails.profile.about}}</div>
                </div>
            </div>
        </div>
        <div class="col-xs-9">
            
            <div class="col-md-9 col-sm-9 profile-width">
                <div class="row">
                    <div class="main-large-title"><span>Reviews</span></div>
                    {{#each arrayify_reviews reviews}}
                    <div class="reviewers col-md-9">
                        <div class="row col-md-12 col-xs-12">
                            <div class="col-md-1 col-xs-2 profile-pic">
                                {{#if reviews.avatar}}
                                <img src="{{reviews.avatar}}" class="img-responsive img-circle">
                                {{else if reviews.gender ='female'}}
                                <img src="/assets/images/female.jpg" class="img-responsive img-circle">
                                {{else}}
                                <img src="/assets/images/male.png" class="img-responsive img-circle">
                                {{/if}}
                                
                            </div>
                            <div class="col-md-11 col-xs-10">
                                <span class="reviewer-name">{{name}}</span>
                                {{> starsRating rating=rating size='sm'}}
                            </div>
                        </div>
                        <div class="col-md-12 row">
                            {{feedback}}
                        </div>
                    </div>
                    {{/each}}
                    
                </div>
            </div>
        </div>
    </div>
</template>