<template name="thankyou">
    <div class="container">
        <div aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Thank You</li>
            </ol>
        </div>
        
        <div class="tour-details">
            <div class="col-md-12 col-sm-12">
                <div class="row details-title">Thank you</div>
                <div class="row details-summary">
                    <p>Thank you for booking a tour with us. Please wait for your buddy to accept your request.</p>
                    <p>We would email you once your buddy have replied. </p>
                </div>
            </div>
       </div>
    </div>
</template>