<template name="paypal">
    <div class="container">
        <h1>Payment</h1>
        
        <p>Thank you for your interest! Please make payment for your booking by clicking on the button below.</p>
        
        <form method="post" action="https://www.sandbox.paypal.com/cgi-bin/webscr" class="paypal-button" target="_top" style="opacity: 1;">

            <div class="hide" id="errorBox"></div>

            <input type="hidden" name="button" value="buynow">
            {{#each userdetails.emails}}
            <input type="hidden" name="business" value="{{address}}">
            {{/each}}
            <input type="hidden" name="item_name" value="{{tourdetails.title}}">

            <input type="hidden" name="quantity" value="{{bookingdetails.guests}}">

            <input type="hidden" name="amount" value="{{totalCost tourdetails.price bookingdetails.guests}}">

            <input type="hidden" name="currency_code" value="SGD">

            <input type="hidden" name="shipping" value="0">

            <input type="hidden" name="tax" value="0">

            <input type="hidden" name="notify_url" value="http://9456f08f.ngrok.io/payment/paypalCallback">
            
            <input type="hidden" name="return" value="http://9456f08f.ngrok.io/payment/paypalCallback">
            
            <input type="hidden" name="cancel_return" value="http://9456f08f.ngrok.io/payment/{{bookingdetails._id}}" />

            <input type="hidden" name="env" value="www.sandbox">

            <input type="hidden" name="cmd" value="_xclick">

            <input type="hidden" name="bn" value="JavaScriptButton_buynow">

            <input type="image" src="https://www.sandbox.paypal.com/en_GB/SG/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.sandbox.paypal.com/en_GB/i/scr/pixel.gif" width="1" height="1">
  
        </form>
    </div>
</template>